.card-wrapper{
  padding: 2px;
}
.memory-card {
  height: 130px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 2px;
  border: 1px solid black;
  color: black;
  margin-bottom: 8px;

  p {
    font-size: 0.8rem;
    text-align: center;
    display: block;
    padding: 0;
    height: 95px;
  }
  img {
    height: 80%;
    width: 90%;
    object-fit:cover;

  }
}
*{
  border: 1px solid red;
}

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }

