body {
  background-image: url('http://res.cloudinary.com/ilidnew/image/upload/v1503736574/501906120_jqtgw0.jpg');
}

.main-wrapper {
  text-align: center;
}

.heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1, p, .question-next-button {
    margin: 20px 0px 20px 0px;
  }
}


.quiz-card {

 .disabled {
  pointer-events: none;
  cursor: default;
}

width: 400px;
height: 300px;
padding: 20px;
background-color: white;
}

.card-question {
  width: 400px;
  height: 450px;
  padding: 20px;
  background-color: white;
  h1 {
    font-size: 20px;
    padding: 0px 20px;
  }
}

.quiz-btn {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.form-control {
  &:focus {
    outline: 0;
    border: 1px solid #ccc;
    box-shadow: none;
  }
  color: #F4F4F4;
}

.card-warpper {
  height: 100vw;
}

.questions-container {
  color: gray;
}

.question-container {
  align-items: center;
  justify-content: center;
}

.question-content {
  font-size: 25px;
  max-width: 400px;
  padding: 150px 40px 150px 40px;
  .no-highlight {
    opacity: .6;
  }
}

.summary {
  .p_sum {
    font-size: 25px;
    opacity: 1;
  }
  .no-highlight {
    opacity: .6;
  }
}

.question-next-button {
  a {
    margin-top: 20px;
    color: gray;
    width: 200px;
    background: rgba(255, 255, 255, 0.24);
    border: 2px solid gray;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
    font-size: 19px;
    text-decoration: none;

    &:hover {
      transition: all 200ms ease;
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.hedgie_submit {
  border: none;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  color: $brand-success;
  padding: 18px 15px;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
    transition: transform 200ms ease;
  }
}
