<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= cl_image_tag("Screen_Shot_2017-08-26_at_2.07.17_PM_lhw5dw.png") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Trivia Game', questions_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Memory Game', memory_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
</div>

