
<div class="background">
  <div class="col-xs-12">
    <div class="row">
      <div class="home-btn">
        <%= cl_image_tag("noun_36444_cc_icsjfq.svg", class: "circle") %>
        <%= link_to 'Quizzz Game', memory_path  %>
      </div>
    </div>
    <div class="row">
      <div class="home-btn">
        <%= cl_image_tag("noun_1003859_cc_1_1_qgicxj.svg", class: "circle") %>
        <%= link_to "Memoriezzz", questions_path %>
      </div>
    </div>
  </div>
</div>
