
<div class="home-container">
  <div class="big-card">
  <h1>Let's test your German Political knowledge</h1>
    <div class="box">
      <a href="<%= questions_path %>">
      <div class="home-btn">
        <%= cl_image_tag("noun_36444_cc_icsjfq.svg", class: "circle") %>
        <p>Quizzz</p>
      </div>
      </a>
      <a href="<%= memory_path %>">
      <div class="home-btn">
        <%= cl_image_tag("noun_1003859_cc_1_1_qgicxj.svg", class: "circle") %>
        <p>Memoriezzz</p>
      </div>
      </a>
    </div>
  </div>
</div>
