<!-- <div class="container">
  <div class="row">

      <h1>Memory page</h1>

      <% @cards.each_slice(4) do |card| %>
      <div class="row">
        <% card.each do |card| %>
          <div class="col-xs-6 col-sm-3">
          <div class="card">
            <%= image_tag (card[0]) %>
            <p> <%= card[1] %></p>
          </div>
          </div>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>

</div> -->

<div class="wrap">
  <div class="game"></div>
    <div class="modal-overlay">
    <div class="modal">
      <h2 class="winner">You win!</h2>
      <button class="restart">Play Again?</button>
    </div>
  </div>
</div>
